<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd  
                        http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task-3.0.xsd ">
                        
    
	<context:component-scan base-package="com.november.first.modules.quartz" /> 

    <!-- 注入任务处理类bean -->
    <bean id="testJob" class="com.november.first.modules.quartz.TestJob"></bean>

    <!-- 任务触发器详细信息bean 多个定时任务则定义多个bean+多个trigger -->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="testJob"></property>
        <property name="targetMethod" value="execute"></property>
        <property name="concurrent" value="false" /><!-- 作业不并发调度  -->
        <!-- 对于相同的JobDetail，当指定多个Trigger时, 很可能第一个job完成之前，第二个job就开始了。
                       指定concurrent设为false，多个job不会并发运行，第二个job将不会在第一个job完成之前开始;即被推迟执行 -->
    </bean>
    
    <bean id="jobDetail02" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="testJob"></property>
        <property name="targetMethod" value="execute02"></property>
        <property name="concurrent" value="false" />
    </bean>

    <!-- 定义trigger 触发器 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"></property>
        <property name="cronExpression" value="0 3,5,11,19,27,28,29,35,47,54,57 * ? * *"></property><!--0 1,21,22,28,31,45,48,59 16,17 ? * * 17点和18点的 01，21，22。。。分触发 -->
    </bean>
    
    <bean id="cronTrigger02" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail02"></property>
        <property name="cronExpression" value="7-55 3-57 * ? * *"></property>
    </bean>

    <!-- 设置触发器调度工厂 -->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
           <list>
                <ref bean="cronTrigger"/>
                <!-- <ref bean="cronTrigger02"/>  -->
           </list>
        </property>
    </bean>
	
	<!--  
		CRON表达式    含义  
		  “0 0 12 * * ?”    每天中午十二点触发  
		  “0 15 10 ? * *”    每天早上10：15触发  
		  “0 15 10 * * ?”    每天早上10：15触发  
		  “0 15 10 * * ? *”    每天早上10：15触发  
		  “0 15 10 * * ? 2005”    2005年的每天早上10：15触发  
		  “0 * 14 * * ?”    每天从下午2点开始到2点59分每分钟一次触发  
		  “0 0/5 14 * * ?”    每天从下午2点开始到2：55分结束每5分钟一次触发  
		  “0 0/5 14,18 * * ?”    每天的下午2点至2：55和6点至6点55分两个时间段内每5分钟一次触发  
		  “0 0-5 14 * * ?”    每天14:00至14:05每分钟一次触发  
		  “0 10,44 14 ? 3 WED”    三月的每周三的14：10和14：44触发  
		  “0 15 10 ? * MON-FRI”    每个周一、周二、周三、周四、周五的10：15触发 
	
	-->
	
</beans>
